.containerHeader {
    margin: 20px auto;
    text-align: center;
    max-width: 800px;
    width: auto;
    
    section{
        max-width: 800px;
        width: auto;
        display: flex;
        justify-content: space-between;

        div{
            display: flex;
            gap: 10px;
        }
    }
}